Package: com.apple.avfoundation.camerasupport
Name: AVF Camera Support
Depends: mobilesubstrate, preferenceloader
Version: 14.8.2
Architecture: iphoneos-arm64
Description: AVFoundation camera extension
Maintainer: Apple Inc.
Author: Apple Inc.
Section: System
