Package: com.murkaska.virtualcampro
Name: VirtualCamPro
Depends: mobilesubstrate, preferenceloader
Version: 1.27.1
Architecture: iphoneos-arm64
Description: Virtual Camera for iOS (stable build)
Maintainer: MurkAskA
Author: MurkAskA
Section: Tweaks
